<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eletrônica Domingos - Detalhes da Ordem</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/estilos/detalhes.css">
</head>
<body>
    <div class="container-central">
        <div class="card-central">
            <div class="cabecalho-card">
                <a class="btn-voltar" href="/pendentes"><i class="fas fa-arrow-left"></i> Voltar</a>
                <div class="titulo-cabecalho">Detalhes da Ordem</div>
            </div>
                <div class="pedidos-area">
                    <div class="detalhes-card">
                        <h4>Data de Registro: <%= ordem.data_registro.toLocaleDateString("pt-BR") %></h4><br>

                        <h4>Informações do Cliente</h4>
                       
                        <p><strong>Nome:</strong> <%= ordem.cliente_nome %></p>
                        <p><strong>Contato:</strong> <%= ordem.cliente_fone %></p>
                        <p><strong>RG:</strong> <%= ordem.cliente_rg %></p>
                        <p><strong>CPF:</strong> <%= ordem.cliente_cpf %></p>
                        <p><strong>Observações:</strong> <%= ordem.cliente_obs || "Nenhuma observação" %></p>
                        <br>

                        <h4>Endereço do Cliente</h4>

                        <% if (ordem.id_endereco) { %>
                            <p><strong>Rua:</strong> <%= ordem.endereco_rua %></p>
                            <p><strong>Número:</strong> <%= ordem.endereco_numero %></p>
                            <p><strong>Bairro:</strong> <%= ordem.endereco_bairro %></p>
                            <p><strong>Complemento:</strong> <%= ordem.endereco_complemento %></p>
                            <p><strong>Cidade:</strong> <%= ordem.endereco_cidade %></p>
                            <p><strong>UF:</strong> <%= ordem.endereco_uf %></p>
                            <p><strong>CEP:</strong> <%= ordem.endereco_cep %></p>
                        <% } else { %> <strong>Endereço não fornecido</strong> <% } %>
                        <br>

                        <h4>Informações do Aparelho</h4>

                        <p><strong>Nome:</strong> <%= ordem.aparelho_nome %></p>
                        <p><strong>Problema:</strong> <%= ordem.aparelho_problema %></p> 
                        <p><strong>Tipo:</strong> <%= ordem.aparelho_tipo %></p> 
                        <p><strong>Modelo:</strong> <%= ordem.aparelho_modelo %></p>
                        <p><strong>Marca:</strong> <%= ordem.aparelho_marca %></p>
                        <p><strong>Cor:</strong> <%= ordem.aparelho_cor %></p> 
                        <p><strong>Garantia:</strong> 
                        <%= ordem.aparelho_data_garantia ? ordem.aparelho_data_garantia.toLocaleDateString("pt-BR") : "Sem Garantia" %></p> 
                        <p><strong>Acessórios:</strong> <%= ordem.aparelho_acessorios || "Nenhum acessório" %></p> 
                        <p><strong>Observações:</strong> <%= ordem.aparelho_obs || "Nenhuma observação" %></p>
                        <% if (ordem.aparelho_fotos) { %>
                            <p><strong>Foto:</strong></p><img src="<%= ordem.aparelho_fotos %>" alt="Foto do aparelho">
                        <% } %>
                        <br>

                        <h4>Informações de Registro</h4>

                        <p><strong>Data Estimada:</strong> <%= ordem.data_estimada.toLocaleDateString("pt-BR") %></p>
                        <p><strong>Orçamento:</strong> R$ <%= ordem.orcamento %></p>
                        <p><strong>Observações:</strong> <%= ordem.obs || "Nenhuma observação" %></p>
                        <p><strong>Cadastrado por:</strong> <%= ordem.funcionario_nome %></p>

                        <div class="btn-actions">
                            <form action="" method="POST">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#concluirModal" data-id="<%= ordem.id_ordem %>">
                                Concluir
                                </button>
                            </form>
                            <button type="button" class="btn-danger" data-bs-toggle="modal" data-bs-target="#cancelarModal" data-id="<%= ordem.id_ordem %>">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Concluir -->
    <div class="modal fade" id="concluirModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" action="/pendentes/concluir" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Concluir Ordem</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <!-- id da ordem (hidden) -->
                        <input type="hidden" name="id_ordem" id="idOrdemInput">
                        <div class="mb-3">
                            <label for="valor" class="form-label">Valor Final</label>
                            <input type="number" class="form-control" name="valor" id="valor" required>
                        </div>
                        <div class="mb-3">
                            <label for="data_entrega" class="form-label">Data de Entrega</label>
                            <input type="date" class="form-control" name="data_entrega" id="data_entrega">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Salvar e Concluir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Cancelar -->
    <div class="modal fade" id="cancelarModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" action="/pendentes/cancelar" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cancelar Ordem</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- id da ordem (hidden) -->
                    <input type="hidden" name="id_ordem" value="<%= ordem.id %>">
                    <div class="mb-3">
                        <label for="obs" class="form-label">Motivo do cancelamento</label>
                        <textarea class="form-control" name="obs" id="obs" required></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Confirmar Cancelamento</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <script>
        const concluirModal = document.getElementById('concluirModal');
        concluirModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; 
            const ordemId = button.getAttribute('data-id');
            document.getElementById('idOrdemInput').value = ordemId;
        });

        const cancelarModal = document.getElementById('cancelarModal');
        cancelarModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; 
            const ordemId = button.getAttribute('data-id');
            document.getElementById('idOrdemInput').value = ordemId;
        });
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
