<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eletrônica Domingos - Ordens Pendentes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/estilos/pendentes.css">
</head>
<body>
    <div class="container-central">
        <div class="card-central">
            <div class="cabecalho-card">
                <div class="titulo-cabecalho">
                    Eletrônica Domingos
                </div>
                <a class="btn-voltar" href="/inicial"><i class="fas fa-arrow-left"></i> Voltar</a>
            </div>
            <div class="conteudo-card">
                <div class="parte-botoes">
                    <a class="botao-dashboard" href="/pendentes/novo-cliente"><i class="fas fa-plus-circle"></i> Novo Conserto</a>
                    <a class="botao-dashboard" href="/pendentes"><i class="fas fa-clock"></i> Consertos Pendentes</a>
                    <a class="botao-dashboard" href="/concluidos"><i class="fas fa-check-circle"></i> Consertos concluídos</a>
                    <a class="botao-dashboard" href="/cancelados"><i class="fas fa-ban"></i> Consertos Cancelados</a>
                   
                </div>
                <div class="pedidos-area">
                    <h2><i class="fas fa-exclamation-triangle"></i> Cancelados</h2>
                    <div class="linha"></div>
                    <div class="cards-list">
                        <% if (ordens.length > 0) { %>
                            <% ordens.forEach(o => { %>
                                <div class="card-custom">
                                    <h5><%= o.data_registro.toLocaleDateString("pt-BR") %></h5>
                                    <p><strong>Cliente:</strong> <%= o.cliente_nome %></p>
                                    <p><strong>Aparelho:</strong> <%= o.aparelho_nome %></p>
                                    <p><strong>Problema:</strong> <%= o.aparelho_problema %></p>
                                    <% if (o.aparelho_fotos) { %>
                                        <img src="<%= o.aparelho_fotos %>" alt="Foto do aparelho">
                                    <% } %>
                                    <a href="/cancelados/detalhes/<%= o.id %>">Clique para ver detalhes</a>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <p>Nenhuma ordem cancelada encontrada</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
